{{#data}}
  <form class="editSnippit" action="/edit/{{_id}}" method="post">
    <input class="title" type="text" name="title" value="{{title}}" placeholder="Title" required>
    <textarea name="code" rows="8" cols="80" class="editCode" placeholder="// code" required autofocus>{{code}}</textarea>
    <textarea name="note" cols="80" placeholder="Comments">{{note}}</textarea>
    <input type="text" name="language" value="{{#language}}{{.}}, {{/language}}" placeholder="Language (JS, PHP, Ruby, etc.)">
    <input type="text" name="tag" value="{{#tag}}{{.}}, {{/tag}}" placeholder="Tags">
    <select class="" name="public">
      {{#public}}
        <option value="true" selected>Public</option>
        <option value="">Private</option>
      {{/public}}
      {{^public}}
        <option value="true">Public</option>
        <option value="" selected>Private</option>
      {{/public}}
    </select>
    <button type="submit" name="button">Save</button>
    <a href="/delete/{{_id}}" class="delete">Delete</a>
  </form>
{{/data}}
{{^data}}
  <p>Uh oh! Something went wrong.</p>
{{/data}}
