<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>codeSnippit</title>
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>
    <div class="container">
      <header>
        <a href="/logout">Login/Logout</a>
        <h1 id="logo">codeSnippit</h1>
        <a href="/public">Public Snippits</a>
      </header>
      {{{yield}}}
    </div>
  </body>
</html>
