<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>codeSnippit</title>
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>
    <div class="container">
      {{{yield}}}
    </div>
    <footer>
      <p>&lt;codeSnippit&gt;</p>
    </footer>
  </body>
</html>
