<h2>{{username}}'s snips</h2>
<div class="snipGrid">
  {{#data}}
    {{#.}}
      <div class="shortSnip">
        <h3><a href="/view/{{_id}}">{{title}}</a></h3>
        <div class="code short">
          <pre><code>{{code}}</code></pre>
        </div>
        <p>Language: {{#language}}<a href="/language/{{.}}" class="tag">{{.}}</a> {{/language}}</p>
        <p>Tags: {{#tag}}<a href="/tag/{{.}}" class="tag">{{.}}</a> {{/tag}}</p>
        {{#public}}
          <p>Public</p>
        {{/public}}
        {{^public}}
          <p>Private</p>
        {{/public}}
      </div>
    {{/.}}
  {{/data}}
</div>
<a href="/create">Create a new snippit!</a>
