<header>
  <a href="/logout">Login/Logout</a>
  <h1 id="logo">codeSnippit</h1>
  <a href="/public">Public Snippits</a>
</header>

<h2>Sign up</h2>

<form class="loginSignup" action="/signup" method="post">
  <label for="username">Username:</label>
  <input type="text" name="username" value="" placeholder="Username" autofocus>
  <label for="password">Password:</label>
  <input type="password" name="password" value="" placeholder="Password">
  <button type="submit" name="button">Sign Up</button>
</form>

<p>Already have an account? <a href="/login">Login!</a></p>
