<header>
  <h1 id="logo">&lt;codeSnippit&gt;</h1>
  <nav>
    {{#user}}
      <a href="/user/{{username}}" ><strong>{{username}}</strong></a> | <a href="/public">Public Snippits</a> | <a href="/logout">Logout</a>
    {{/user}}
    {{^user}}
      <a href="/public">Public Snippits</a> | <strong><a href="/">Login</a></strong>
    {{/user}}
  </nav>
</header>
<main>
  <h2>Sign up</h2>

  <form class="loginSignup" action="/signup" method="post">
    <label for="username">Username:</label>
    <input type="text" name="username" value="" placeholder="Username" autofocus>
    <label for="password">Password:</label>
    <input type="password" name="password" value="" placeholder="Password">
    <button type="submit" name="button">Sign Up</button>
  </form>

  <p>Already have an account? <a href="/login">Login!</a></p>
</main>
