<div class="snipGrid">
  VIEW.MUSTACHE
  {{#data}}
      <div class="shortSnip">
        <h3>{{title}}</h3>
        <div class="code short">
          {{code}}
        </div>
        <p>Language: {{language}}</p>
        {{#public}}
          <p>Public</p>
        {{/public}}
        {{^public}}
          <p>Private</p>
        {{/public}}
      </div>
  {{/data}}
  <a href="/save/{{_id}}">Save</a>
</div>

<!-- [ { _id: 59a054593cc65a066bf043d8,
    author: 'sean',
    title: 'js',
    code: 'js',
    note: 'js',
    language: 'js',
    public: true,
    __v: 0,
    tag: [ 'js' ] } ] -->
