<style>
@import url('https://fonts.googleapis.com/css?family=Courgette|Roboto+Mono|Roboto:400,700');
</style>

* {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}
#logo {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}
.snipGrid {
  display: flex;
  flex-flow: row wrap;
  overflow: scroll;
}
.shortSnip {
  border: 1px solid lightgray;
  display: flex;
  flex: 0 30%;
  flex-flow: column nowrap;
  font-family: 'Roboto', sans-serif;
  margin: 10px;
  max-width: 30%;
  padding: 20px 0 10px;
}
.shortSnip > * {
  flex: 1 50%;
  margin: 0 20px 10px;
}
.shortSnip a {
  text-decoration: none;
}
.code {
  background: #f1f1f1;
  border-left: 1px solid lightgray;
  border-top: 1px solid lightgray;
  min-height: 100px;
  max-height: 200px;
  overflow: scroll;
  padding: 10px;
  word-break: break-all;
}
pre {
  margin: 0;
}
code {
  font-family: 'Roboto Mono', monospace;
}
.tag {
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  color: white;
  text-decoration: none;
  padding: 2px 5px;
}
.orange {
  background: orange;
}
.blue {
  background: blue;
}
.editSnippit {
  border: 1px solid lightgray;
  display: flex;
  flex-flow: row wrap;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  margin: 20px auto 40px;
  padding: 10px 0 20px;
  width: 500px;
}
.editSnippit > * {
  margin: 10px 20px 0;
}
.editSnippit label {
  flex: 1 90%;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 1.1em;
  font-weight: 700;
  margin: 0 20px;
  padding: 10px 0;
}
.editSnippit select {
  flex: 1 60%;
  font-size: 0.8em;
}
.editSnippit option {
  font-size: 3em;
}
.editSnippit input, .editSnippit textarea {
  background: #f1f1f1;
  border-bottom: none;
  border-left: 1px solid lightgray;
  border-right: none;
  border-top: 1px solid lightgray;
  flex: 1 90%;
  font-size: 1em;
  margin: 0 20px 10px;
  padding: 10px;
  resize: vertical;
}
.editSnippit textarea.editCode {
  font-family: 'Roboto Mono', monospace;
  font-size: 1em;
}
.editSnippit .spaceSaver {
  display: flex;
  flex-flow: row wrap;
  margin: 0 10px;
}
.editSnippit .spaceSaver * {
  flex: 1 40%;
  margin: 0 10px;
}
.editSnippit select {
  background: #f1f1f1;
  border: 1px solid lightgray;
  height: 40px;
  margin: 20px 20px 10px;
}
.editSnippit button {
  flex: 1 40%;
  font-size: 1em;
  padding: 10px 0
}
.delete {
  margin-left: 0;
  padding: 10px;
}
