<style>
@import url('https://fonts.googleapis.com/css?family=Courgette|Roboto+Mono|Roboto:400,700');
</style>

header * {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}
#logo {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}
.snipGrid {
  display: flex;
  flex-flow: row wrap;
  overflow: scroll;
}
.shortSnip {
  border: 1px solid lightgray;
  flex: 1 25%;
  margin: 10px;
  padding: 10px 0;
}
.shortSnip > * {
  margin-left: 10px;
  margin-right: 10px;
}
.code {
  background: #ddd;
  border-radius: 10px;
  color: #333;
  max-height: 100px;
  overflow: scroll;
  padding: 15px;
  text-decoration: none;
  width: 90%;
}
pre {
  margin: 0;
}
code {
  font-family: 'Roboto Mono', monospace;
}
.mono {
  font-family: 'Roboto Mono', monospace;
}
.tag {
  background: lightblue;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  color: white;
  text-decoration: none;
  padding: 2px 5px;
}
.tag:hover {
  border: none;
  top: 2px;
}
.short {
  max-height: 100px;
}
.editSnippit {
  border: 1px solid lightgray;
  display: flex;
  flex-flow: row wrap;
  margin: 20px auto 40px;
  width: 500px;
}
.editSnippit > * {
  margin: 10px 20px;
}
.editSnippit label {
  flex: 1 8%;
}
.editSnippit input.title {
  font-size: 2em;
  font-weight: 700;
}
.editSnippit input, .editSnippit textarea {
  border: none;
  flex: 1 90%;
  font-size: 1em;
  padding: 10px 0;
}
.editSnippit textarea.editCode {
  background: #ddd;
  border: none;
  font-family: 'Roboto Mono', monospace;
  font-size: 1em;
  margin: 10px 20px;
  padding: 20px;
}
.delete {
  background: url('https://d30y9cdsu7xlg0.cloudfront.net/png/3823-200.png') center center no-repeat;
  background-size: contain;
  padding: 10px;
}
